

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'helvetica Neue', sans-serif;
    line-height: 1.5;
    background-color: rgba(255, 173, 224, 0.521);
    color: rgb(0, 0, 0);
}

.site-header {
    background-color: rgb(214, 65, 127);
    color: black;
    padding: 1em 0;
    text-align: center;
}

.site-title {
    margin-bottom: 10px;
    font-size: 2em;
}

.main-nav .nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
}

.main-nav .nav-link{
    margin: 0 15px;
}
.main-nav .nav-link {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: bold;
    transition: color 0.3s;
}
.main-nav .nav-link:hover {
    color: #ff92c5
}
.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}
.article {
    flex: 3;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px #d8005a;
    border-radius: 5px;
}

.article-header {
    border-bottom: 2px solid #d8005a;
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.article-title {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 30px;
}

.article-meta {
    color: #333;
    font-size: 0.9em;
}

.article-section {
    margin-bottom: 20px;
}

.section-title {
    font-size: 1.4em;
    color: #555;
    margin-bottom: 10px;
}

.section-text {
    margin-bottom: 15px;
    color:#333;
    line-height: 1.0;
}

.image-figure {
    margin: 20px 0;
}

.article-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.image-caption {
    text-align: center;
    font-size: 0.10em;
    color:#777;
    margin-top: 5px;
}

.sidebar {
    flex:1;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 2px 4px;
    border-radius: 5px;
}

.sidebar-title {
    font-size: 1.6em;
    color: #333;
    margin-bottom: 10px;
}

.sidebar-text {
    color:#555;
    line-height: 1.5;
}

.site-footer {
    background-color: rgb(214, 65, 127);
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 25px;
}