

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    font-family: 'helvetica Neue', sans-serif;
    line-height: 1.5;
    background-color: rgba(255, 173, 224, 0.521);
    color: rgb(0, 0, 0);
}

.site-header {
    background-color: rgb(214, 65, 127);
    color: black;
    padding: 1rem 0;
    text-align: center;
}

.site-title {
    margin-bottom: 10px;
    font-size: 2rem;
}

.main-nav .nav-list {
    list-style: none;
    display: flex;
    justify-content: center;
}